*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eb6188;
}

.pantalla{
    user-select: none;
}

.pantalla .cronometro{
    height: 100px;
    background-color: #eea9bd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 8px 5px #b29ca2;
    border: none;
}

.pantalla .cronometro span{
    text-align: center;
    font-size: 45px;
    font-weight: 550px;
    color: rgb(142, 128, 198);
}

.cronometro span.separador{
    width: 20px;
}

.cronometro span.separador-mili,
.cronometro span.milisegundo{
    color: #6215a5;
}
.pantalla .botones{
    text-align: center;
    margin-top: 30px;
}

.botones button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0px 10px;
    color: rgb(11, 118, 134);
    background: #e0d9db;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.9rem;
    cursor: pointer;
    box-shadow: 3px 4px 3px 0px #e883a0;
}

.botones button.on{
    pointer-events: none;
    opacity: 0.7;
}
